name: Release

on:
  push:
    tags: ['*']

jobs:
  Run-Tests:
    uses: ./.github/workflows/tiledb-csharp.yml
  Pack:
    runs-on: ubuntu-latest
    needs: Run-Tests
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.4xx
      - name: Pack TileDB.CSharp
        run: dotnet pack -c Release ./sources/TileDB.CSharp/TileDB.CSharp.csproj -o pack
      # In case pushing to NuGet fails we upload the packages as artifacts to push them ourselves.
      # We must push these packages GitHub Actions generated because they are marked as deterministic.
      - name: Upload packages as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nuget-release
          path: ./pack
  Release:
    runs-on: ubuntu-latest
    needs: Pack
    environment: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.4xx
      - name: Obtain NuGet API token
        uses: nuget/login@v1
        id: nuget-login
        with:
          user: ${{ vars.NUGET_USER }}
        if: vars.NUGET_USER != ''
      - name: Download package artifacts
        uses: actions/download-artifact@v4
        with:
          name: nuget-release
          path: ./pack
      - name: Push packages to NuGet
        shell: bash
        run: |
          cd pack
          dotnet nuget push "*.nupkg" -s ${{ vars.NUGET_FEED }} -k ${{ steps.nuget-login.outputs.NUGET_API_KEY || secrets.NUGET_KEY }}
