name: CI

on:
  push:
    branches: [ main, 'release/*' ]
  pull_request:
    branches: [ main, 'release/*' ]
  workflow_dispatch:
  workflow_call:

jobs:
  Validate-Package:
    runs-on: ubuntu-latest
    steps:
      # Checks out repository
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.4xx

      # Package validation runs as part of packing.
      - name: Dotnet pack for TileDB.CSharp
        run: |
          dotnet pack -c Release sources/TileDB.CSharp

  Run-Tests:
    strategy:
      fail-fast: false
      matrix:
        # Repeat this test for each os
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      # Checks out repository
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.4xx

      # DotNet build
      - name: Dotnet build for TileDB.CSharp
        run: |
          dotnet build -c Release sources/TileDB.CSharp

      # DotNet test
      - name: Test TileDB.CSharp
        run: |
          dotnet test -c Release tests/TileDB.CSharp.Test

      - name: Run examples
        shell: bash
        run: |
          find examples/ -name *.csproj | xargs -I{} dotnet run --project {} -f net6.0
